
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/vcs.xml
.idea/workspace.xml
MLPC18_prSceneClass_GrpD.iml
.idea/vcs.xml
.iodata/data/
.iodata/data/*
*.npy
iodata/__pycache__/__init__.cpython-36.pyc
iodata/__pycache__/readData.cpython-36.pyc
learning/__pycache__/__init__.cpython-36.pyc
learning/__pycache__/classification.cpython-36.pyc
learning/classification.py
learning/classification.py
*.pyc
